.login-container {
    margin-top: 7em;
    display: flex;
    float: right;
    margin-right: 24em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1px;
    border: solid;
    border-width: thin;
    padding: 5em;

    input {
        width: 250px;
        padding: 8px 8px;
    }

    .submit-button {
        color: white;
        font-size: medium;
        background-color: black;
        padding: 14px 10px;
        width: 200px;
        cursor: pointer;
    }

}

.login-image {
    width: 50%;
    height: auto;
    object-position: 90px 50px;
    float: left;
}
