.container {
    margin-top: 74px;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #1a1a1a;
    color: #fff;
    box-sizing: border-box;

    font-size: 14px;
   
  }
  
  #room__container {
    position: relative;
    display: flex;
    gap: 3rem;
  }
  
  #members__container {
    background-color: #262625;
    border-right: 1px solid #797a79;
    overflow-y: auto;
    width: 90%;
    max-width: 250px;
    position: fixed;
    height: 100%;
    z-index: 999;
  }
  
  #members__count {
    background-color: #1d1d1c;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
  }
  
  #members__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.35rem 1rem;
    position: fixed;
    font-size: 18px;
    background-color: #323143;
    width: 218px;
  }
  
  #member__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 5rem;
    padding-bottom: 6.5rem;
  }
  
  .members__list::-webkit-scrollbar {
    height: 14px;
  }
  
  .member__wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-left: 1em;
  }
  
  .green__icon {
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #2aca3e;
  }
  
  .member_name{
    font-size: 14px;
    line-height: 0;
  }
  
  #messages__container {
    height: calc(100vh - 85px);
    background-color: #262625;
    right: 0;
    position: absolute;
    width: 100%;
    max-width: 25rem;
    overflow-y: auto;
    border-left: 1px solid #111;
  }
  
  #messages {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  
  .message__wrapper:last-child {
    margin-bottom: 6.5rem;
  }
  
  .message__wrapper {
    display: flex;
    gap: 10px;
    margin: 1em;
  }
  
  .message__body {
    background-color: #363739;
    border-radius: 10px;
    padding: 10px 15px;
    width: fit-content;
    max-width: 900px;
  }
  
  .message__body strong {
    font-weight: 600;
    color: #ede0e0;
  }
  
  .message__body__bot{
    padding: 0 20px;
    max-width: 900px;
    color: #bdbdbd;
  }
  
  
  .message__author {
    margin-right: 10px;
    color: #2aca3e!important;
  
  }
  
  .message__author__bot {
    margin-right: 10px;
    color: #a52aca!important;
  
  }
  
  .message__text {
    margin: 0;
  }
  
  #message__form {
    width: 23.2rem;
    position: fixed;
    bottom: 0;
    display: block;
    background-color: #1a1a1a;
    padding: 1em;
  }
  
  #message__form input {
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 18px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #3f434a;
  }
  
  #message__form input:focus {
    outline: none;
  }
  
  #message__form input::placeholder {
    color: #707575;
  }
  
  #stream__container {
    justify-self: center;
    align-items: center;
    width: calc(100% - 40.7rem);
    position: fixed;
    background-color: #262625;
    left: 15.7rem;
    // top: calc(100vh - 72px);
    overflow-y: auto;
    height: 100%;
  }

  #stream__box {
    // background-color: #3f434a;
    display: none;
    height: 75vh;
    position: fixed;
    overflow: hidden;

    .video__container {
      border: 2px solid black;
      border-radius: 0;
      height: 100%!important;
      width: 100%!important;
      margin-top: 0;
    }

    video {
      border-radius: 0;
    }
  }

  #streams__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
    margin-bottom: 225px;
  }

  .video__container {
    display: flex;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFD700;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
    height: 300px;
    width: 300px;
  }

  .video-player {
    height: 100%;
    width: 100%;

  }


  @media (max-width: 1400px) {
    .video__container {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid rgba(128, 0, 0, 0.8);
      overflow: hidden;
      cursor: pointer;
      height: 125px;
      width: 225px;
    }
  }
  
  
  @media (max-width: 1200px) {
    #members__container {
      display: none;
    }
  
    #members__button {
      display: block;
    }
  
    #stream__container {
      width: calc(100% - 25rem);
      left: 0;
    }
  }
  
  @media (max-width: 980px) {
    #stream__container {
      width: calc(100% - 20rem);
      left: 0;
    }
    #messages__container {
      max-width: 20rem;
    }
  
    #message__form {
      width: 18.2rem;
    }
  }
  
  @media (max-width: 768px) {
    #stream__container {
      width: 100%;
    }
  
    #messages__container {
      display: none;
    }
  
    #chat__button {
      display: block;
    }

    .video__container {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid rgba(128, 0, 0, 0.8);
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
      height: 100px;
      width: 200px;
    }
  }
  
  #stream__box {
    position: relative;
  }
  
  .stream__focus {
    width: 100%;
    height: 100%;
  }
  
  .stream__focus iframe {
    width: 100%;
    height: 100%;
  }
  
  .stream__actions {
    position: fixed;
    bottom: 1rem;
    border-radius: 8px;
    background-color: #1a1a1a60;
    padding: 1rem;
    display: flex;
    left: 50%;
    transform: translate(-60%, 0);
    gap: 1rem;
  }
  
  .stream__actions a,
  .stream__actions button {
    cursor: pointer;
    background-color: #262625;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }
  
  .stream__actions a svg,
  .stream__actions button svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #ede0e0;
  }

  .stream__actions button.disabled {
    background-color: #262625;
  }

  .stream__actions a.active,
  .stream__actions button.active,
  .stream__actions a:hover,
  .stream__actions button:hover {
    background-color: #845695;
  }

  .stream__actions button.leave-button {
    background-color: #FF5050;
  }

  .stream__actions button.leave-button:hover {
    background-color: red;
  }
  