.right {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition-duration: 0.3s;
        transition-property: transform;
        gap: 30px;
        margin-right: 5rem;
    }

    .right:hover {
        transform: scale(1.3);
    }
    .center{
        display: flex;
        align-items: center;
        gap: 30px;      
        cursor: pointer;
        transition-duration: 0.3s;
        transition-property: transform;  
    }
    .center:hover {
        transform: scale(1.3);
    }
    @media screen and (max-width: 768px){
        .left{
            margin-left: 0;
        }
        .right{
            margin-right: 0;
        }
        
    }
  
    
} 
