.right {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition-duration: 0.3s;
        transition-property: transform;
        gap: 30px;
        margin-right: 5rem;
    }

    .right:hover {
        transform: scale(1.3);
    }

