@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');


.rating-space {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5px;
}

.rating-space div{
  font-family: 'Mulish', sans-serif;
}


.rating-container{
  max-width: 700px;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  }

.item{
  //background-color: #ff0037;
  color: #000;
  font-size: 25px;
  padding: 0px;
  margin: 20px;
  flex-grow: 1;
}

.item-direction{
  display:flex;
  flex-direction: column;
}

.items-1{
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.items-1-1{
  font-weight: bold;
  align-self: flex-start;
}

.items-1-2{
  font-size: 15px;
  color: blue;
  text-align: right;
  align-self: flex-end;
}

.items-2{
  align-self: center;
}

.items-3{
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.items-4{
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.items-5{
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.items-6{
  align-self: flex-start;
}

.rating-space .rating-container .button input{
  font-family: 'Mulish', sans-serif;
  padding: 10px 40px 10px 40px;
  border: #3C64B1;
  font-size: 15px;
  color: white;
  background-color: #3C64B1;
}

.rating-space .rating-container select{
  font-family: 'Mulish', sans-serif;
  color: #808080;
  padding: 2px 20px 2px 2px;
  border: 1px solid #ccc;
}

.rating-space .rating-container textarea{
  font-family: 'Mulish', sans-serif;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 2px 20px 2px 2px;
  resize: vertical;
  display: flex;
  justify-content: stretch;
}

.rating-space .rating-container label{
  font-family: 'Mulish', sans-serif;
  margin: 0px 0px 5px 5px;
}
