.loading {
    display: block;
    height: calc(100vh - 80px);

    .loading-wrapper {
        display: flex;
        background-color: white;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }
}